In [27]:
# Dependencies
import pandas as pd

In [28]:
# Store file path in variable
oscars_data_file = "Resources/Oscars-demographics-DFE.csv"

In [29]:
# Read Data files with the pandas library
oscars_df = pd.read_csv(oscars_data_file, encoding = "ISO-8859-1")
oscars_df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

In [30]:
# Print out Column Titles
oscars_df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'birthplace', 'birthplace:confidence',
       'date_of_birth', 'date_of_birth:confidence', 'race_ethnicity',
       'race_ethnicity:confidence', 'religion', 'religion:confidence',
       'sexual_orientation', 'sexual_orientation:confidence', 'year_of_award',
       'year_of_award:confidence', 'award', 'biourl', 'birthplace_gold',
       'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold',
       'religion_gold', 'sexual_orientation_gold', 'year_of_award_gold'],
      dtype='object')

In [31]:
# Remove columns not being used for analysis
oscars_df.drop(columns = ['_golden', '_unit_state', '_trusted_judgments',\
                          '_last_judgment_at', 'birthplace:confidence',\
                          'date_of_birth:confidence', 'race_ethnicity:confidence',\
                          'religion', 'religion:confidence','sexual_orientation:confidence',\
                          'year_of_award:confidence', 'birthplace_gold', 'date_of_birth_gold',\
                          'race_ethnicity_gold', 'religion_gold', 'sexual_orientation_gold',\
                          'year_of_award_gold'], inplace = True)
oscars_df

,_unit_id,birthplace,date_of_birth,race_ethnicity,sexual_orientation,year_of_award,award,biourl,movie,person
0,670454353,"Chisinau, Moldova",30-Sep-1895,White,Straight,1927,Best Director,http://www.nndb.com/people/320/000043191/,Two Arabian Knights,Lewis Milestone
1,670454354,"Glasgow, Scotland",2-Feb-1886,White,Straight,1930,Best Director,http://www.nndb.com/people/626/000042500/,The Divine Lady,Frank Lloyd
2,670454355,"Chisinau, Moldova",30-Sep-1895,White,Straight,1931,Best Director,http://www.nndb.com/people/320/000043191/,All Quiet on the Western Front,Lewis Milestone
3,670454356,"Chicago, Il",23-Feb-1899,White,Straight,1932,Best Director,http://www.nndb.com/people/544/000041421/,Skippy,Norman Taurog
4,670454357,"Salt Lake City, Ut",23-Apr-1894,White,Straight,1933,Best Director,http://www.nndb.com/people/292/000044160/,Bad Girl,Frank Borzage
...,...,...,...,...,...,...,...,...,...,...
436,670946276,"London, England",7-Mar-71,White,Straight,2006,Best Supporting Actress,http://www.nndb.com/people/309/000032213/,The Constant Gardener,Rachel Weisz
437,670946299,"Manchester, England",20-Oct-56,White,Straight,2009,Best Director,http://www.nndb.com/people/887/000044755/,Slumdog Millionaire,Danny Boyle
438,670964912,"Chicago, Il",26-Jul-22,White,Straight,1977,Best Supporting Actor,http://www.nndb.com/people/224/000032128/,All the President's Men,Jason Robards
439,670964956,"Laurel, Ne",31-Aug-28,White,Straight,1999,Best Supporting Actor,http://www.nndb.com/people/764/000022698/,Affliction,James Coburn
440,670972898,"Nevada, Mo",5-Aug-06,White,Straight,1949,Best Director,http://www.nndb.com/people/704/000024632/,The Treasure of the Sierra Madre,John Huston

In [34]:
oscars_df.rename(columns={'_unit_id': "award_id"}, inplace = True)

In [32]:
# Drop records with blank cells
oscars_df.dropna(inplace=True)
oscars_df

,_unit_id,birthplace,date_of_birth,race_ethnicity,sexual_orientation,year_of_award,award,biourl,movie,person
0,670454353,"Chisinau, Moldova",30-Sep-1895,White,Straight,1927,Best Director,http://www.nndb.com/people/320/000043191/,Two Arabian Knights,Lewis Milestone
1,670454354,"Glasgow, Scotland",2-Feb-1886,White,Straight,1930,Best Director,http://www.nndb.com/people/626/000042500/,The Divine Lady,Frank Lloyd
2,670454355,"Chisinau, Moldova",30-Sep-1895,White,Straight,1931,Best Director,http://www.nndb.com/people/320/000043191/,All Quiet on the Western Front,Lewis Milestone
3,670454356,"Chicago, Il",23-Feb-1899,White,Straight,1932,Best Director,http://www.nndb.com/people/544/000041421/,Skippy,Norman Taurog
4,670454357,"Salt Lake City, Ut",23-Apr-1894,White,Straight,1933,Best Director,http://www.nndb.com/people/292/000044160/,Bad Girl,Frank Borzage
...,...,...,...,...,...,...,...,...,...,...
436,670946276,"London, England",7-Mar-71,White,Straight,2006,Best Supporting Actress,http://www.nndb.com/people/309/000032213/,The Constant Gardener,Rachel Weisz
437,670946299,"Manchester, England",20-Oct-56,White,Straight,2009,Best Director,http://www.nndb.com/people/887/000044755/,Slumdog Millionaire,Danny Boyle
438,670964912,"Chicago, Il",26-Jul-22,White,Straight,1977,Best Supporting Actor,http://www.nndb.com/people/224/000032128/,All the President's Men,Jason Robards
439,670964956,"Laurel, Ne",31-Aug-28,White,Straight,1999,Best Supporting Actor,http://www.nndb.com/people/764/000022698/,Affliction,James Coburn
440,670972898,"Nevada, Mo",5-Aug-06,White,Straight,1949,Best Director,http://www.nndb.com/people/704/000024632/,The Treasure of the Sierra Madre,John Huston